// Place all the styles related to the admins::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
   margin: auto;
   width: 50% !important;
}

.show-table {
   margin: auto;
   width: 50% !important;
   border:none;
}

form {
  padding:30px 50px;
}

form dl dt {
  width: 165px;
  padding:10px 0;
  float:left;
  clear:both;
}

form dl dd {
  padding:10px 0;
}