// Place all the styles related to the admins::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admins-customer-index-table {
   margin: auto;
   width: 50%;
}

.admins-custommer-show-table {
   margin: auto;
   width: 50%;
   border:none;
}

.admins-custommer-show-table th,
.admins-custommer-show-table td {
  border: 0px solid;
}

form {
  padding:30px 50px;
}

form dl dt {
  width: 165px;
  padding:10px 0;
  float:left;
  clear:both;
}

form dl dd {
  padding:10px 0;
}

.customer-box {
  margin-right: auto;
  margin-left : auto;
}