<div class="top">
  </div><div class="thanks">
    <h4><strong>ご購入ありがとうございました！</strong></h4>
    <div class="thanks-visual col-lg-12 ">
        <%= image_tag 'thanks.png', size: '640x400', class: "text-center" %>
    </div>
  </div>
</div>
