<div class="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-3 withdrawal-content">
        <h5><strong>本当に退会しますか?</strong></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center mb-3">
        <h5>
          退会すると、会員登録情報や<br>
          これまでの購入履歴が閲覧できなくなります。<br>
          退会する場合は、「退会する」をクリックしてください。
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="withdrawal-btn col-lg-12 text-center">
        <%= link_to '退会しない', customers_customer_path(current_customer), class: "btn btn-1" %>
        <%= link_to '退会する', customers_customers_hide_path(current_customer), method: :patch, "data-confirm" => '本当に退会しますか？', class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
