<br>
<h2 class="col-lg-4 offset-lg-1 title_h2 text-center">会員一覧</h2>
<div class="row">
  <div class="col-xl-12 ">
    <table class="admins-customer-index-table table-hover table-bordered width="50" height="150"">
      <thead>
        <br>
        <br>
        <tr class="info text-center">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td class="info text-center" style="width:25%"><%= customer.id %></td>
          <td class="text-center" style="width:25%"><%= link_to admins_customer_path(customer) do %>
                <%= customer.last_name + customer.first_name %>
              <% end %>
          </td>
          <td class="text-center" style="width:25%"><%= customer.email %></td>
          <td class="text-center" style="width:25%">
            <% if customer.is_unsubscribed == true %>
              <p>退会済み</p>
            <% else %>
              <p>有効</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>