<br>
<h1 class="head-line title_h2 text-center">会員一覧</h1>
<div class="row">
  <div class="col-xl-12">
    <table class="customertable table-hover table-bordered">
      <thead>
        <tr class="info">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td class="info" style="width:25%"><%= customer.id %></td>
          <td class="text-left" style="width:25%"><%= link_to admins_customer_path(customer) do %>
                <%= customer.last_name + customer.first_name %>
              <% end %>
          </td>
          <td class="text-left" style="width:25%"><%= customer.email %></td>
          <td style="width:25%">
            <% if customer.is_unsubscribed == true %>
              <p>退会済み</p>
            <% else %>
              <p>有効</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>