// Place all the styles related to the customers::cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// カート画面（index）
.cart-item-title {
  //background-color: #F2A950;
  position: relative;
  display: inline-block;
  padding: 0 55px;
  text-align: center;
}

.cart-item-title:before,
.cart-item-title:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

.cart-item-title:before {
  left: 0;
}

.cart-item-title:after {
  right: 0;
}

.cart-item-table {
  table-layout: fixed;
}
.cart-item-table thead tr th, .cart-item-table tbody tr td, .cart-item-table tr th {
  border: 1px solid;
  vertical-align: baseline;
}
.cart-item-table thead tr th, .cart-item-table tr th {
  font-weight: normal;
  background-color: #ddd;
}
.cart-item-table tbody tr td {
  padding: 10px;
}
