// Place all the styles related to the customers::cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// カート画面（index）
.cart-item-title {
  background-color: #ddd;
}
.cart-item-table {
  table-layout: fixed;
}
.cart-item-table thead tr th, .cart-item-table tbody tr td, .cart-item-table tr th {
  border: 1px solid;
  vertical-align: baseline;
}
.cart-item-table thead tr th, .cart-item-table tr th {
  font-weight: normal;
  background-color: #ddd;
}
.cart-item-table tbody tr td {
  padding: 10px;
}
