// Place all the styles related to the customers::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 退会ページ（unsubscribe）
.withdrawal-content {
  margin-top: 200px;
}
#withdrawal-title,
#withdrawal-text {
  font-size: 20px;
}
#withdrawal-text {
  margin-top: 15px;
}
#withdrawal-btn {
  width: 130px;
  margin: 15px;
}
