// Place all the styles related to the customers::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// マイページ（show）
.customer-title {
  background-color: #F2A950;
}
.customer-table tr th, .customer-table tr td {
  border: 1px solid;
}
.customer-table tr th {
  font-weight: normal;
  background-color: #ddd;
}

// 退会ページ（unsubscribe）
.withdrawal-content {
  margin-top: 160px;
}
.withdrawal-btn .btn {
  width: 130px;
  margin: 15px;
}

// エラーメッセージ
.field_with_errors {
  display: contents;
}
#alert {
  background-color: none;
  border: none;
}
#alert ul li {
  color: red;
}
