// Place all the styles related to the customers::deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 配送先一覧ページ
.delivery-title {
  background-color: #ddd;
}
.delivery-table thead tr th, .delivery-table tbody tr td {
  border: 1px solid;
}
.delivery-table tr th {
  font-weight: normal;
  background-color: #ddd;
}
