// Place all the styles related to the customers::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.amount-select-button{
  height:50px;
  line-height:50px;
}

.item-index{
  margin: 15px;
}

.index-item-box{
  display: flex;
  flex-wrap: wrap;
}