<div class="container">
  <div class="row">
    <div class="col-md-3">
        <%= render "layouts/genre_search", genres: @genres %>
    </div>

  <div class="col-md-9">
    <strong class="admins-title-name"><%= @genre.name %>一覧(全<%= @items.count %>件)</strong>
     <%= render "customers/items/index", items: @items%>
  </div>
 </div>
 </div>
</div>