<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p>ジャンル検索</p>
    </div>
    <div class="col-md-9">
      <h1>商品一覧</h1>

      <% @items.each do |item| %>
        <%#= attachment_image_tag item, :profile_image, :fill, 60, 60, format: 'jpeg' %>
        <%= link_to customers_item(item.id) do %>
        <%= item.name %>
        <% end %>
        <%= item.price %>
      <% end %>
    </div>
  </div>
</div>