<div class="genre_search">
  <table class="table genre-search-table table-bordered table-hover text-center">
    <thead>
      <tr>
        <th claa="h4">ジャンル検索</th>
      </tr>
    </thead>

    <tbody>
      <% genres.each do |genre| %>
        <% if genre.is_active == true %>
        <tr>
          <td>
            <!--遷移先→genres#showに-->
            <%= link_to "/customers/items/genre_search/#{genre.id}", method: :get do %>
              <%= genre.name %>
            <% end %>
          </td>
        </tr>
        <% else %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>