<div class="genre_search">
  <table class="table table-bordered">
    <thead>
      <tr>
        <h4>ジャンル検索</h4>
      </tr>
    </thead>

    <tbody>
      <% items.each do |genre| %>
        <% if items.genre.is_active == true %>
        <tr>
          <td>
            <!--遷移先→genres#showに-->
            <%= link_to admin_genre_path(item.genre.id), method: :get do %>
              <%= items.genre.name %>
            <% end %>
          </td>
        </tr>
        <% else %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>